@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-success: #008A2E;
  --color-info: #0973DC;
  --color-warning: #DC7609;
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

}
/* app/globals.css */

/* ... (Các code khác của bạn) ... */

/* === PHIÊN BẢN DEBUG CHO SCROLLBAR === */
::-webkit-scrollbar {
  width: 8px;  /* Độ rộng 8px */
  height: 8px; /* Độ cao 8px */
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0); /* Màu rãnh cuộn (màu xám nhạt) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(170,170,170,0.5); /* Màu thanh cuộn (màu xám đậm) */
  border-radius: 10px;
  /* (Chúng ta bỏ border đi để test) */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(170,170,170,0.8) /* Màu khi di chuột vào */
}
@layer utilities{
  .shadow-or-ring {
    @apply shadow-md ring-0
    dark:shadow-none dark:ring-2 dark:ring-ring;
  }
  .heading1{
    @apply font-bold text-4xl leading-12
  }
  .heading2{
    @apply font-bold text-2xl leading-9
  }
  .heading3{
    @apply font-bold text-xl leading-7
  }
  .heading4{
    @apply font-bold text-lg leading-5
  }
  .heading5{
    @apply font-semibold text-base leading-6
  }
  .subtitle1{
    @apply font-medium text-base leading-6
  }
  .subtitle2{
    @apply font-semibold text-sm leading-5
  }
  .body1{
    @apply font-normal text-base leading-6
  }
  .body2{
    @apply font-normal text-sm leading-5
  }
  .button{
    @apply font-medium text-sm leading-5
  }
  .caption{
    @apply font-normal text-xs leading-4
  }
  .overline{
    @apply font-normal text-xs leading-3.5
  }
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
}

[data-theme='blue-light'] {
  --radius: 8px;
  --background:  oklch(1 0 0);
  --foreground:  oklch(0.141 0.005 285.823);
  --card:  oklch(1 0 0);
  --card-foreground:  oklch(0.141 0.005 285.823);
  --popover:  oklch(1 0 0);
  --popover-foreground:  oklch(0.141 0.005 285.823);
  --primary:  oklch(0.488 0.243 264.376);
  --primary-foreground:  oklch(0.97 0.014 254.604);
  --secondary:  oklch(0.967 0.001 286.375);
  --secondary-foreground:  oklch(0.21 0.006 285.885);
  --muted:  oklch(0.967 0.001 286.375);
  --muted-foreground:  oklch(0.552 0.016 285.938);
  --accent:  oklch(0.967 0.001 286.375);
  --accent-foreground:  oklch(0.21 0.006 285.885);
  --destructive:  oklch(0.577 0.245 27.325);
  --border:  oklch(0.92 0.004 286.32);
  --input:  oklch(0.92 0.004 286.32);
  --ring:  oklch(0.708 0 0);
  --chart-1:  oklch(0.809 0.105 251.813);
  --chart-2:  oklch(0.623 0.214 259.815);
  --chart-3:  oklch(0.546 0.245 262.881);
  --chart-4:  oklch(0.488 0.243 264.376);
  --chart-5:  oklch(0.424 0.199 265.638);
  --sidebar:  oklch(0.985 0 0);
  --sidebar-foreground:  oklch(0.141 0.005 285.823);
  --sidebar-primary:  oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground:  oklch(0.97 0.014 254.604);
  --sidebar-accent:  oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground:  oklch(0.21 0.006 285.885);
  --sidebar-border:  oklch(0.92 0.004 286.32);
  --sidebar-ring:  oklch(0.708 0 0);
}
[data-theme='blue-dark'] {
  --radius: 8px;
  --background:  oklch(0.141 0.005 285.823);
  --foreground:  oklch(0.985 0 0);
  --card:  oklch(0.21 0.006 285.885);
  --card-foreground:  oklch(0.985 0 0);
  --popover:  oklch(0.21 0.006 285.885);
  --popover-foreground:  oklch(0.985 0 0);
  --primary:  oklch(0.488 0.243 264.376);
  --primary-foreground:  oklch(0.97 0.014 254.604);
  --secondary:  oklch(0.274 0.006 286.033);
  --secondary-foreground:  oklch(0.985 0 0);
  --muted:  oklch(0.274 0.006 286.033);
  --muted-foreground:  oklch(0.705 0.015 286.067);
  --accent:  oklch(0.274 0.006 286.033);
  --accent-foreground:  oklch(0.985 0 0);
  --destructive:  oklch(0.704 0.191 22.216);
  --border:  oklch(1 0 0 / 10%);
  --input:  oklch(1 0 0 / 15%);
  --ring:  oklch(0.556 0 0);
  --chart-1:  oklch(0.809 0.105 251.813);
  --chart-2:  oklch(0.623 0.214 259.815);
  --chart-3:  oklch(0.546 0.245 262.881);
  --chart-4:  oklch(0.488 0.243 264.376);
  --chart-5:  oklch(0.424 0.199 265.638);
  --sidebar:  oklch(0.21 0.006 285.885);
  --sidebar-foreground:  oklch(0.985 0 0);
  --sidebar-primary:  oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground:  oklch(0.97 0.014 254.604);
  --sidebar-accent:  oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground:  oklch(0.985 0 0);
  --sidebar-border:  oklch(1 0 0 / 10%);
  --sidebar-ring:  oklch(0.439 0 0);
}
[data-theme='red-light'] {
  --radius: 8px;
  --background:  oklch(1 0 0);
  --foreground:  oklch(0.141 0.005 285.823);
  --card:  oklch(1 0 0);
  --card-foreground:  oklch(0.141 0.005 285.823);
  --popover:  oklch(1 0 0);
  --popover-foreground:  oklch(0.141 0.005 285.823);
  --primary:  oklch(0.577 0.245 27.325);
  --primary-foreground:  oklch(0.971 0.013 17.38);
  --secondary:  oklch(0.967 0.001 286.375);
  --secondary-foreground:  oklch(0.21 0.006 285.885);
  --muted:  oklch(0.967 0.001 286.375);
  --muted-foreground:  oklch(0.552 0.016 285.938);
  --accent:  oklch(0.967 0.001 286.375);
  --accent-foreground:  oklch(0.21 0.006 285.885);
  --destructive:  oklch(0.577 0.245 27.325);
  --border:  oklch(0.92 0.004 286.32);
  --input:  oklch(0.92 0.004 286.32);
  --ring:  oklch(0.704 0.191 22.216);
  --chart-1:  oklch(0.808 0.114 19.571);
  --chart-2:  oklch(0.637 0.237 25.331);
  --chart-3:  oklch(0.577 0.245 27.325);
  --chart-4:  oklch(0.505 0.213 27.518);
  --chart-5:  oklch(0.444 0.177 26.899);
  --sidebar:  oklch(0.985 0 0);
  --sidebar-foreground:  oklch(0.141 0.005 285.823);
  --sidebar-primary:  oklch(0.577 0.245 27.325);
  --sidebar-primary-foreground:  oklch(0.971 0.013 17.38);
  --sidebar-accent:  oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground:  oklch(0.21 0.006 285.885);
  --sidebar-border:  oklch(0.92 0.004 286.32);
  --sidebar-ring:  oklch(0.704 0.191 22.216);
}
[data-theme='red-dark']{
  --radius: 8px;
  --background:  oklch(0.141 0.005 285.823);
  --foreground:  oklch(0.985 0 0);
  --card:  oklch(0.21 0.006 285.885);
  --card-foreground:  oklch(0.985 0 0);
  --popover:  oklch(0.21 0.006 285.885);
  --popover-foreground:  oklch(0.985 0 0);
  --primary:  oklch(0.637 0.237 25.331);
  --primary-foreground:  oklch(0.971 0.013 17.38);
  --secondary:  oklch(0.274 0.006 286.033);
  --secondary-foreground:  oklch(0.985 0 0);
  --muted:  oklch(0.274 0.006 286.033);
  --muted-foreground:  oklch(0.705 0.015 286.067);
  --accent:  oklch(0.274 0.006 286.033);
  --accent-foreground:  oklch(0.985 0 0);
  --destructive:  oklch(0.704 0.191 22.216);
  --border:  oklch(1 0 0 / 10%);
  --input:  oklch(1 0 0 / 15%);
  --ring:  oklch(0.396 0.141 25.723);
  --chart-1:  oklch(0.808 0.114 19.571);
  --chart-2:  oklch(0.637 0.237 25.331);
  --chart-3:  oklch(0.577 0.245 27.325);
  --chart-4:  oklch(0.505 0.213 27.518);
  --chart-5:  oklch(0.444 0.177 26.899);
  --sidebar:  oklch(0.21 0.006 285.885);
  --sidebar-foreground:  oklch(0.985 0 0);
  --sidebar-primary:  oklch(0.637 0.237 25.331);
  --sidebar-primary-foreground:  oklch(0.971 0.013 17.38);
  --sidebar-accent:  oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground:  oklch(0.985 0 0);
  --sidebar-border:  oklch(1 0 0 / 10%);
  --sidebar-ring:  oklch(0.396 0.141 25.723);
}
[data-theme='rose-light']{
  --radius: 8px;
  --background:  oklch(1 0 0);
  --foreground:  oklch(0.141 0.005 285.823);
  --card:  oklch(1 0 0);
  --card-foreground:  oklch(0.141 0.005 285.823);
  --popover:  oklch(1 0 0);
  --popover-foreground:  oklch(0.141 0.005 285.823);
  --primary:  oklch(0.586 0.253 17.585);
  --primary-foreground:  oklch(0.969 0.015 12.422);
  --secondary:  oklch(0.967 0.001 286.375);
  --secondary-foreground:  oklch(0.21 0.006 285.885);
  --muted:  oklch(0.967 0.001 286.375);
  --muted-foreground:  oklch(0.552 0.016 285.938);
  --accent:  oklch(0.967 0.001 286.375);
  --accent-foreground:  oklch(0.21 0.006 285.885);
  --destructive:  oklch(0.577 0.245 27.325);
  --border:  oklch(0.92 0.004 286.32);
  --input:  oklch(0.92 0.004 286.32);
  --ring:  oklch(0.712 0.194 13.428);
  --chart-1:  oklch(0.81 0.117 11.638);
  --chart-2:  oklch(0.645 0.246 16.439);
  --chart-3:  oklch(0.586 0.253 17.585);
  --chart-4:  oklch(0.514 0.222 16.935);
  --chart-5:  oklch(0.455 0.188 13.697);
  --sidebar:  oklch(0.985 0 0);
  --sidebar-foreground:  oklch(0.141 0.005 285.823);
  --sidebar-primary:  oklch(0.586 0.253 17.585);
  --sidebar-primary-foreground:  oklch(0.969 0.015 12.422);
  --sidebar-accent:  oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground:  oklch(0.21 0.006 285.885);
  --sidebar-border:  oklch(0.92 0.004 286.32);
  --sidebar-ring:  oklch(0.712 0.194 13.428);
}
[data-theme='rose-dark']{
  --radius: 8px;
  --background:  oklch(0.141 0.005 285.823);
  --foreground:  oklch(0.985 0 0);
  --card:  oklch(0.21 0.006 285.885);
  --card-foreground:  oklch(0.985 0 0);
  --popover:  oklch(0.21 0.006 285.885);
  --popover-foreground:  oklch(0.985 0 0);
  --primary:  oklch(0.645 0.246 16.439);
  --primary-foreground:  oklch(0.969 0.015 12.422);
  --secondary:  oklch(0.274 0.006 286.033);
  --secondary-foreground:  oklch(0.985 0 0);
  --muted:  oklch(0.274 0.006 286.033);
  --muted-foreground:  oklch(0.705 0.015 286.067);
  --accent:  oklch(0.274 0.006 286.033);
  --accent-foreground:  oklch(0.985 0 0);
  --destructive:  oklch(0.704 0.191 22.216);
  --border:  oklch(1 0 0 / 10%);
  --input:  oklch(1 0 0 / 15%);
  --ring:  oklch(0.41 0.159 10.272);
  --chart-1:  oklch(0.81 0.117 11.638);
  --chart-2:  oklch(0.645 0.246 16.439);
  --chart-3:  oklch(0.586 0.253 17.585);
  --chart-4:  oklch(0.514 0.222 16.935);
  --chart-5:  oklch(0.455 0.188 13.697);
  --sidebar:  oklch(0.21 0.006 285.885);
  --sidebar-foreground:  oklch(0.985 0 0);
  --sidebar-primary:  oklch(0.645 0.246 16.439);
  --sidebar-primary-foreground:  oklch(0.969 0.015 12.422);
  --sidebar-accent:  oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground:  oklch(0.985 0 0);
  --sidebar-border:  oklch(1 0 0 / 10%);
  --sidebar-ring:  oklch(0.41 0.159 10.272);
}
[data-theme='orange-light']{
  --radius: 8px;
  --background:  oklch(1 0 0);
  --foreground:  oklch(0.141 0.005 285.823);
  --card:  oklch(1 0 0);
  --card-foreground:  oklch(0.141 0.005 285.823);
  --popover:  oklch(1 0 0);
  --popover-foreground:  oklch(0.141 0.005 285.823);
  --primary:  oklch(0.646 0.222 41.116);
  --primary-foreground:  oklch(0.98 0.016 73.684);
  --secondary:  oklch(0.967 0.001 286.375);
  --secondary-foreground:  oklch(0.21 0.006 285.885);
  --muted:  oklch(0.967 0.001 286.375);
  --muted-foreground:  oklch(0.552 0.016 285.938);
  --accent:  oklch(0.967 0.001 286.375);
  --accent-foreground:  oklch(0.21 0.006 285.885);
  --destructive:  oklch(0.577 0.245 27.325);
  --border:  oklch(0.92 0.004 286.32);
  --input:  oklch(0.92 0.004 286.32);
  --ring:  oklch(0.75 0.183 55.934);
  --chart-1:  oklch(0.837 0.128 66.29);
  --chart-2:  oklch(0.705 0.213 47.604);
  --chart-3:  oklch(0.646 0.222 41.116);
  --chart-4:  oklch(0.553 0.195 38.402);
  --chart-5:  oklch(0.47 0.157 37.304);
  --sidebar:  oklch(0.985 0 0);
  --sidebar-foreground:  oklch(0.141 0.005 285.823);
  --sidebar-primary:  oklch(0.646 0.222 41.116);
  --sidebar-primary-foreground:  oklch(0.98 0.016 73.684);
  --sidebar-accent:  oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground:  oklch(0.21 0.006 285.885);
  --sidebar-border:  oklch(0.92 0.004 286.32);
  --sidebar-ring:  oklch(0.75 0.183 55.934);
}
[data-theme='orange-dark']{
  --radius: 8px;
  --background:  oklch(0.141 0.005 285.823);
  --foreground:  oklch(0.985 0 0);
  --card:  oklch(0.21 0.006 285.885);
  --card-foreground:  oklch(0.985 0 0);
  --popover:  oklch(0.21 0.006 285.885);
  --popover-foreground:  oklch(0.985 0 0);
  --primary:  oklch(0.705 0.213 47.604);
  --primary-foreground:  oklch(0.98 0.016 73.684);
  --secondary:  oklch(0.274 0.006 286.033);
  --secondary-foreground:  oklch(0.985 0 0);
  --muted:  oklch(0.274 0.006 286.033);
  --muted-foreground:  oklch(0.705 0.015 286.067);
  --accent:  oklch(0.274 0.006 286.033);
  --accent-foreground:  oklch(0.985 0 0);
  --destructive:  oklch(0.704 0.191 22.216);
  --border:  oklch(1 0 0 / 10%);
  --input:  oklch(1 0 0 / 15%);
  --ring:  oklch(0.408 0.123 38.172);
  --chart-1:  oklch(0.837 0.128 66.29);
  --chart-2:  oklch(0.705 0.213 47.604);
  --chart-3:  oklch(0.646 0.222 41.116);
  --chart-4:  oklch(0.553 0.195 38.402);
  --chart-5:  oklch(0.47 0.157 37.304);
  --sidebar:  oklch(0.21 0.006 285.885);
  --sidebar-foreground:  oklch(0.985 0 0);
  --sidebar-primary:  oklch(0.705 0.213 47.604);
  --sidebar-primary-foreground:  oklch(0.98 0.016 73.684);
  --sidebar-accent:  oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground:  oklch(0.985 0 0);
  --sidebar-border:  oklch(1 0 0 / 10%);
  --sidebar-ring:  oklch(0.408 0.123 38.172);
}
[data-theme='green-light']{
  --radius: 8px;
  --background:  oklch(1 0 0);
  --foreground:  oklch(0.141 0.005 285.823);
  --card:  oklch(1 0 0);
  --card-foreground:  oklch(0.141 0.005 285.823);
  --popover:  oklch(1 0 0);
  --popover-foreground:  oklch(0.141 0.005 285.823);
  --primary:  oklch(0.648 0.2 131.684);
  --primary-foreground:  oklch(0.986 0.031 120.757);
  --secondary:  oklch(0.967 0.001 286.375);
  --secondary-foreground:  oklch(0.21 0.006 285.885);
  --muted:  oklch(0.967 0.001 286.375);
  --muted-foreground:  oklch(0.552 0.016 285.938);
  --accent:  oklch(0.967 0.001 286.375);
  --accent-foreground:  oklch(0.21 0.006 285.885);
  --destructive:  oklch(0.577 0.245 27.325);
  --border:  oklch(0.92 0.004 286.32);
  --input:  oklch(0.92 0.004 286.32);
  --ring:  oklch(0.841 0.238 128.85);
  --chart-1:  oklch(0.871 0.15 154.449);
  --chart-2:  oklch(0.723 0.219 149.579);
  --chart-3:  oklch(0.627 0.194 149.214);
  --chart-4:  oklch(0.527 0.154 150.069);
  --chart-5:  oklch(0.448 0.119 151.328);
  --sidebar:  oklch(0.985 0 0);
  --sidebar-foreground:  oklch(0.141 0.005 285.823);
  --sidebar-primary:  oklch(0.648 0.2 131.684);
  --sidebar-primary-foreground:  oklch(0.986 0.031 120.757);
  --sidebar-accent:  oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground:  oklch(0.21 0.006 285.885);
  --sidebar-border:  oklch(0.92 0.004 286.32);
  --sidebar-ring:  oklch(0.841 0.238 128.85);
}
[data-theme='green-dark']{
  --radius: 8px;
  --background:  oklch(0.141 0.005 285.823);
  --foreground:  oklch(0.985 0 0);
  --card:  oklch(0.21 0.006 285.885);
  --card-foreground:  oklch(0.985 0 0);
  --popover:  oklch(0.21 0.006 285.885);
  --popover-foreground:  oklch(0.985 0 0);
  --primary:  oklch(0.648 0.2 131.684);
  --primary-foreground:  oklch(0.986 0.031 120.757);
  --secondary:  oklch(0.274 0.006 286.033);
  --secondary-foreground:  oklch(0.985 0 0);
  --muted:  oklch(0.274 0.006 286.033);
  --muted-foreground:  oklch(0.705 0.015 286.067);
  --accent:  oklch(0.274 0.006 286.033);
  --accent-foreground:  oklch(0.985 0 0);
  --destructive:  oklch(0.704 0.191 22.216);
  --border:  oklch(1 0 0 / 10%);
  --input:  oklch(1 0 0 / 15%);
  --ring:  oklch(0.405 0.101 131.063);
  --chart-1:  oklch(0.871 0.15 154.449);
  --chart-2:  oklch(0.723 0.219 149.579);
  --chart-3:  oklch(0.627 0.194 149.214);
  --chart-4:  oklch(0.527 0.154 150.069);
  --chart-5:  oklch(0.448 0.119 151.328);
  --sidebar:  oklch(0.21 0.006 285.885);
  --sidebar-foreground:  oklch(0.985 0 0);
  --sidebar-primary:  oklch(0.768 0.233 130.85);
  --sidebar-primary-foreground:  oklch(0.986 0.031 120.757);
  --sidebar-accent:  oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground:  oklch(0.985 0 0);
  --sidebar-border:  oklch(1 0 0 / 10%);
  --sidebar-ring:  oklch(0.405 0.101 131.063);
}
[data-theme='yellow-light']{
  --radius: 8px;
  --background:  oklch(1 0 0);
  --foreground:  oklch(0.141 0.005 285.823);
  --card:  oklch(1 0 0);
  --card-foreground:  oklch(0.141 0.005 285.823);
  --popover:  oklch(1 0 0);
  --popover-foreground:  oklch(0.141 0.005 285.823);
  --primary:  oklch(0.852 0.199 91.936);
  --primary-foreground:  oklch(0.421 0.095 57.708);
  --secondary:  oklch(0.967 0.001 286.375);
  --secondary-foreground:  oklch(0.21 0.006 285.885);
  --muted:  oklch(0.967 0.001 286.375);
  --muted-foreground:  oklch(0.552 0.016 285.938);
  --accent:  oklch(0.967 0.001 286.375);
  --accent-foreground:  oklch(0.21 0.006 285.885);
  --destructive:  oklch(0.577 0.245 27.325);
  --border:  oklch(0.92 0.004 286.32);
  --input:  oklch(0.92 0.004 286.32);
  --ring:  oklch(0.852 0.199 91.936);
  --chart-1:  oklch(0.905 0.182 98.111);
  --chart-2:  oklch(0.795 0.184 86.047);
  --chart-3:  oklch(0.681 0.162 75.834);
  --chart-4:  oklch(0.554 0.135 66.442);
  --chart-5:  oklch(0.476 0.114 61.907);
  --sidebar:  oklch(0.985 0 0);
  --sidebar-foreground:  oklch(0.141 0.005 285.823);
  --sidebar-primary:  oklch(0.681 0.162 75.834);
  --sidebar-primary-foreground:  oklch(0.987 0.026 102.212);
  --sidebar-accent:  oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground:  oklch(0.21 0.006 285.885);
  --sidebar-border:  oklch(0.92 0.004 286.32);
  --sidebar-ring:  oklch(0.852 0.199 91.936);
}
[data-theme='yellow-dark']{
  --radius: 8px;
  --background:  oklch(0.141 0.005 285.823);
  --foreground:  oklch(0.985 0 0);
  --card:  oklch(0.21 0.006 285.885);
  --card-foreground:  oklch(0.985 0 0);
  --popover:  oklch(0.21 0.006 285.885);
  --popover-foreground:  oklch(0.985 0 0);
  --primary:  oklch(0.795 0.184 86.047);
  --primary-foreground:  oklch(0.421 0.095 57.708);
  --secondary:  oklch(0.274 0.006 286.033);
  --secondary-foreground:  oklch(0.985 0 0);
  --muted:  oklch(0.274 0.006 286.033);
  --muted-foreground:  oklch(0.705 0.015 286.067);
  --accent:  oklch(0.274 0.006 286.033);
  --accent-foreground:  oklch(0.985 0 0);
  --destructive:  oklch(0.704 0.191 22.216);
  --border:  oklch(1 0 0 / 10%);
  --input:  oklch(1 0 0 / 15%);
  --ring:  oklch(0.421 0.095 57.708);
  --chart-1:  oklch(0.905 0.182 98.111);
  --chart-2:  oklch(0.795 0.184 86.047);
  --chart-3:  oklch(0.681 0.162 75.834);
  --chart-4:  oklch(0.554 0.135 66.442);
  --chart-5:  oklch(0.476 0.114 61.907);
  --sidebar:  oklch(0.21 0.006 285.885);
  --sidebar-foreground:  oklch(0.985 0 0);
  --sidebar-primary:  oklch(0.795 0.184 86.047);
  --sidebar-primary-foreground:  oklch(0.987 0.026 102.212);
  --sidebar-accent:  oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground:  oklch(0.985 0 0);
  --sidebar-border:  oklch(1 0 0 / 10%);
  --sidebar-ring:  oklch(0.421 0.095 57.708);
}
[data-theme='violet-light']{
  --radius: 8px;
  --background:  oklch(1 0 0);
  --foreground:  oklch(0.141 0.005 285.823);
  --card:  oklch(1 0 0);
  --card-foreground:  oklch(0.141 0.005 285.823);
  --popover:  oklch(1 0 0);
  --popover-foreground:  oklch(0.141 0.005 285.823);
  --primary:  oklch(0.541 0.281 293.009);
  --primary-foreground:  oklch(0.969 0.016 293.756);
  --secondary:  oklch(0.967 0.001 286.375);
  --secondary-foreground:  oklch(0.21 0.006 285.885);
  --muted:  oklch(0.967 0.001 286.375);
  --muted-foreground:  oklch(0.552 0.016 285.938);
  --accent:  oklch(0.967 0.001 286.375);
  --accent-foreground:  oklch(0.21 0.006 285.885);
  --destructive:  oklch(0.577 0.245 27.325);
  --border:  oklch(0.92 0.004 286.32);
  --input:  oklch(0.92 0.004 286.32);
  --ring:  oklch(0.702 0.183 293.541);
  --chart-1:  oklch(0.811 0.111 293.571);
  --chart-2:  oklch(0.606 0.25 292.717);
  --chart-3:  oklch(0.541 0.281 293.009);
  --chart-4:  oklch(0.491 0.27 292.581);
  --chart-5:  oklch(0.432 0.232 292.759);
  --sidebar:  oklch(0.985 0 0);
  --sidebar-foreground:  oklch(0.141 0.005 285.823);
  --sidebar-primary:  oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground:  oklch(0.969 0.016 293.756);
  --sidebar-accent:  oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground:  oklch(0.21 0.006 285.885);
  --sidebar-border:  oklch(0.92 0.004 286.32);
  --sidebar-ring:  oklch(0.702 0.183 293.541);
}
[data-theme='violet-dark']{
  --radius: 8px;
  --background:  oklch(0.141 0.005 285.823);
  --foreground:  oklch(0.985 0 0);
  --card:  oklch(0.21 0.006 285.885);
  --card-foreground:  oklch(0.985 0 0);
  --popover:  oklch(0.21 0.006 285.885);
  --popover-foreground:  oklch(0.985 0 0);
  --primary:  oklch(0.606 0.25 292.717);
  --primary-foreground:  oklch(0.969 0.016 293.756);
  --secondary:  oklch(0.274 0.006 286.033);
  --secondary-foreground:  oklch(0.985 0 0);
  --muted:  oklch(0.274 0.006 286.033);
  --muted-foreground:  oklch(0.705 0.015 286.067);
  --accent:  oklch(0.274 0.006 286.033);
  --accent-foreground:  oklch(0.985 0 0);
  --destructive:  oklch(0.704 0.191 22.216);
  --border:  oklch(1 0 0 / 10%);
  --input:  oklch(1 0 0 / 15%);
  --ring:  oklch(0.38 0.189 293.745);
  --chart-1:  oklch(0.811 0.111 293.571);
  --chart-2:  oklch(0.606 0.25 292.717);
  --chart-3:  oklch(0.541 0.281 293.009);
  --chart-4:  oklch(0.491 0.27 292.581);
  --chart-5:  oklch(0.432 0.232 292.759);
  --sidebar:  oklch(0.21 0.006 285.885);
  --sidebar-foreground:  oklch(0.985 0 0);
  --sidebar-primary:  oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground:  oklch(0.969 0.016 293.756);
  --sidebar-accent:  oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground:  oklch(0.985 0 0);
  --sidebar-border:  oklch(1 0 0 / 10%);
  --sidebar-ring:  oklch(0.38 0.189 293.745);
}
